*{
    margin: 0;
    padding: 0;
}

.contenedor-grid{
    width: 100vw; /*Unidad de medida que se adapta al dispositivo*/
    height: 100vh;
    border: 2px solid black;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "seis seis tres uno"
    ". dos tres . "
    "cuatro dos cinco cinco";
}

.contenedor-grid div{
    border: 2px solid black ;
    font-size: 50px;
}

.elemento-1{
    grid-area: uno;
    background-color: yellow;
}
.elemento-2{
    grid-area: dos;
    background: red;
}

.elemento-3{
    grid-area: tres;
    background: green;
}
        
.elemento-4{ 
    grid-area: cuatro;
    background: pink;
}
           
.elemento-5{
    grid-area: cinco;
    background: blue;
}
                
.elemento-6{
    grid-area: seis;
    background: orange;
}

@media (max-width: 400px) {
    .contenedor-grid{
    grid-template-areas: 
    "seis tres uno"
    "cuatro dos cinco cinco";
}
}



/*.elemento-2{
    background-color: pink;
    grid-column-start: 11;
    grid-row-start: 1;
    grid-row-end: 12;
}

.elemento-6{
    background: green;
    grid-column-start: 1;
    grid-column-end: 21 ;
    grid-row-start: 20;
}

*/