*{
    padding: 0;
    margin: 0;
}
body{
    /*height: 100vh;*/
    width: 100vw;
    background-color: rgb(5, 15, 49);
    overflow-x: hidden;
}
nav{
    height: 10vh;
    width: 100%;
    background-color: rgb(5, 15, 49);
    margin: auto;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 2vh;
    height: 100%;
}
li{
    font-size: 3vh;
    color: ghostwhite;
}

header{
    height: 90vh;
    position: relative;
    overflow: hidden;
    /*display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;*/
}
header img{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
#cielo{
    height: 100%;
    z-index: 1;
     bottom: 0;
    /*
    width: 100%;
   */

}

#edificios{
    height: 90%;
    z-index: 2;
    bottom: 0
    /*
    width: 100%;
    ;*/
    
}
#arboles3{

     height: 65%;
     z-index: 3;
     bottom: 0;
   /* width: 100%;
   
    */
    
}
#arboles4{
    
    height: 45%;
    z-index: 4;
    bottom: 0;
    /*width: 100%;
    */
}
#carrito{
    width: 10%;
    bottom: 18%;
    left: 15%;
    z-index: 5;
}
main{
    height: 100vh;
}
.titulo{
    color:rgb(184, 198, 241);
    font-size: 10vh;
 
    position: absolute;
    top: 25%;
    right: 5%;
 
    transform: translateY(-50%);
 
    z-index: 100;
    margin: 2vh;
 
    text-shadow: 5px 0px 0px rgb(0, 4, 34);
    transition: right .5s ease-in-out;
}
 