*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f2;
    color: #2f3e34;

    /* grid general de la pagina */
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

header{
    background-color: #a3c9a8;
    text-align: center;
    padding: 20px;
}

nav{
    background-color: #6b9080;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 40px;
    padding: 15px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover{
    transform: scale(1.1);
}

main{
    padding: 40px;
    display: grid;
    gap: 40px;
}

.peliculas-premiadas-h2{
    text-align: center;
}

.peliculas-premiadas-h2 h2{
    margin-bottom: 15px;
}

/* Seccion grid de las peliculas premiadas*/
.peliculas_premiadas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.peli{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.peli img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Hover que modifica el tamaño de la pelicula por el que pase el mouse */
.peli:hover{
    transform: scale(1.05);
}

/*Transformaciones segun se activen o desactiven las peliculas*/
.peli.activa{
    transform: scale(1.15);
    z-index: 10;
}

.peli.desactivada{
    opacity: 0.5;
    transform: scale(0.95);
}
footer{
    background-color: #344e41;
    color: white;
    text-align: center;
    padding: 15px;
}