*{
    padding: 0;
    margin: 0;
}
html{
    overflow: hidden;
}
body{
    width: 100vw;
    height: 200vh;
    perspective: 2px;
    transform-style: preserve-3d;
    background-color: deepskyblue;
    overflow-x: hidden;
    overflow-y: scroll;

}
.contenedor-1,.espacio{
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
}
.contenedor-1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../recursos/fondo.jpg");
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
}
.totoro{
    width: 40%;
    left: 60%;
    position: absolute;
}
.contenedor-1::after{
    content: "";
    width: 20%;
    height: 20%;
    position: absolute;
    background-image: url("../recursos/NicePng_totoro-png_4377362.png");
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
}
.contenedor-1.totoro{
    width: 30%;
    height: 50%;
    transform: translateZ(-.5px) scale(1.5,1.6) translate(-33%,10%) ;
}
.espacio{
    height: 200vh;
    background-color: rgb(51, 114, 114);
}